<%= link_to "Contact", contact_path %>

<h1>Laura Goldberg</h1>

<% @artworks.each do |artwork| %>
  <h2><%= link_to artwork.name, root_path(artwork.id) %></h2>
  <p><%= artwork.description %></p>
<% end %>
